/* Imports */
/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Icons */
@import url("https://use.fontawesome.com/releases/v5.14.0/css/all.css");
@import url("https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css");
@import url("https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp");

/* General Styling */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Barlow Semi Condensed", sans-serif;
}
body {
  background: #191919;
}
.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 1rem 0px;
}
.heading span {
  display: inline-block;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 3px;
  margin-left: 1.8rem;
}
.heading h2 {
  font-size: 60px;
  margin-left: 0.2rem;
}
.textCenter {
  text-align: center;
}
.imgFluid {
  max-width: 100%;
}
.themeBtn {
  display: inline-block;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  background: linear-gradient(360deg, #c532b3, #6e50bc, #176ec6);
  border: none;
  border-radius: 30px;
  padding: 0.75rem 2rem;
  margin: 0.5rem 0px;
  transition: all 0.3s ease-in-out;
}
.themeBtn:hover {
  transform: translateY(-5px);
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

/* Header */
header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  z-index: 10;
}
header::before {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  top: 55px;
  left: 0;
  background: #fff;
}
.topNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0px;
  font-weight: 300;
}
.topNav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topNav_contact {
  flex: 0.34;
}
.topNav_social {
  flex: 0.3;
}
.topNav a {
  color: inherit;
}
.topNav i {
  font-size: 18px;
  padding: 0px 0.25rem;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0px;
}
.nav_logo > img {
  width: 185px;
}
.nav_links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0.6;
}
.nav_links a {
  position: relative;
  color: inherit;
  font-size: 18px;
}
.nav_links a:not(.nav_cart > a)::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}
.nav_links a:not(.nav_cart > a):hover::before {
  transform: scaleX(1);
}
.nav_cart {
  position: relative;
}
.badge {
  width: 15px;
  height: 15px;
  position: absolute;
  top: -7px;
  left: -7px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  font-size: 10px;
  background: #f7941d;
  border-radius: 50%;
  padding: 5px;
}

/* Banner */
.banner {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../images/banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner > .container {
  padding-top: 5rem;
}
.banner_img {
  position: relative;
  animation: float 1.5s ease-in-out 1s infinite alternate;
}
.banner_img > a {
  position: absolute;
  bottom: 5%;
  right: 15%;
  display: inline-block;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.banner_img > a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}
.banner_img > a:hover::before {
  transform: scaleX(1);
}
.banner_play {
  width: 100px;
  height: 100px;
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  background: linear-gradient(56deg, #c532b3, #6e50bc, #176ec6);
  border: 1px solid #fff;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.3s ease-in-out;
}
.banner_play::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid #fff;
  border-radius: 50%;
  transform: scale(1);
  animation: scale 3s ease-in-out infinite;
}
.banner_play > i {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  font-size: 68px;
  cursor: pointer;
  transform: translate(-45%, -50%);
}
.banner_play:hover {
  transform: scale(1.1);
}

/* Page Title */
.pageTitle {
  width: 100%;
  min-height: 55vh;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  background: url("../images/page-title.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 3rem;
}
.pageTitle h1 {
  color: #fff;
  font-size: 6vw;
  text-transform: uppercase;
}

/* Categories */
.categories {
  padding-bottom: 5rem;
}
.categories_card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.categories_card:hover {
  transform: scale(1.05) translateY(-10px);
}
.categories_cardTitle {
  width: 95%;
  height: 96%;
  position: absolute;
  top: 0px;
  left: 9px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background: linear-gradient(to top, #000, transparent);
  border-radius: 10px;
  padding-bottom: 1rem;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.categories_cardTitle > a {
  display: inline-block;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  transform: translateY(50px);
  transition: all 0.3s ease-in-out;
}
.categories_card:hover .categories_cardTitle {
  opacity: 1;
}
.categories_card:hover a {
  transform: translateY(0);
}

/* Featured Products */
.products {
  padding-bottom: 6rem;
}
.products_slider {
  margin-top: 2rem;
}
.product {
  position: relative;
  overflow: hidden;
  margin: 1rem auto;
  transition: all 0.3s ease-in-out;
}
.product:hover {
  transform: translateY(-10px) scale(1.02);
  box-shadow: 0px 0px 20px 1px #ffffff10;
}
.product:hover .product_title {
  opacity: 0;
  transform: translate(-50%, 120%);
}
.product:hover .product_overlay {
  opacity: 1;
  visibility: visible;
}
.product_title {
  width: 100%;
  position: absolute;
  bottom: 5%;
  left: 50%;
  color: #fff;
  font-size: 28px;
  font-weight: 300;
  text-align: center;
  transform: translateX(-50%);
  transition: all 0.1s ease-in-out;
}
.product_overlay {
  width: 100%;
  height: 99%;
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  background: #00000099;
  border-radius: 10px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  padding: 2rem;
  transition: all 0.3s ease-in-out;
}
.product_overlay > h4 {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 2rem;
}
.product_overlay > div {
  width: 80%;
  position: absolute;
  bottom: 6%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #fff;
  padding-top: 1rem;
}
.product_overlay > div > span {
  font-size: 20px;
}
.product_overlay > div i {
  cursor: pointer;
  padding-left: 1rem;
}

/* Video Section */
.videoWrapper {
  padding: 1rem 6rem 9rem;
}
.videoWrapper > .video {
  border: 5px solid #fff;
  border-radius: 30px;
}
.video {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../images/hero-1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10rem 0px;
}
.video_content {
  color: #fff;
  margin-left: 2rem;
}
.video_content h2 {
  font-size: 48px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
.video_content p {
  font-size: 20px;
  font-weight: 300;
  line-height: 32px;
}
.video_content .play {
  width: 100px;
  height: 100px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-top: 1.2rem;
  transition: all 0.3s ease-in-out;
}
.video_content .play:hover {
  transform: scale(1.1);
}
.video_content .play::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid #fff;
  border-radius: 50%;
  animation: scale 3s ease-in-out infinite;
}
.video_content .play > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -50%);
}

/* About Section */
.about {
  padding: 8rem 0px;
}
.about .imgFluid {
  animation: float 1.5s ease-in-out 1s infinite alternate;
}
.about_content {
  position: relative;
  color: #fff;
}
.about_content > h6 {
  position: absolute;
  top: -110px;
  left: -40px;
  color: #fff;
  font-size: 220px;
  text-transform: uppercase;
  opacity: 0.04;
}
.about_content > h5 {
  color: #c532b3;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.about_content > h2 {
  position: relative;
  left: -80px;
  font-size: 68px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.about_content > p {
  font-weight: 300;
  line-height: 28px;
  margin: 1.5rem 0px;
}
/* Who We Are */
.about.whoWeAre {
  padding-bottom: 4rem;
}
/* What We Do */
.about.whatWeDo {
  padding-top: 4rem;
}
.about.whatWeDo .imgFluid {
  transform: scaleX(-1);
}

/* Power Banks */
.powerBanksWrapper {
  padding: 4rem 6rem 2rem;
}
.powerBanksWrapper > .powerBanks {
  border: 5px solid #fff;
}
.powerBanks {
  background: url("../images/power-bank-hero.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4rem 0px;
}
.powerBanks_content {
  color: #fff;
}
.powerBanks_content > h3 {
  font-size: 28px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
}
.powerBanks_content > h2 {
  font-size: 48px;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.powerBanks_content > p {
  font-weight: 300;
  line-height: 28px;
  margin: 0.75rem 0px;
}

/* Gallery */
.gallery {
  padding: 6rem 0px 0px;
}
.gallery_img {
  position: relative;
  margin: 1.5rem 0px;
  transition: all 0.3s ease-in-out;
}
.gallery_img:hover {
  transform: scale(1.02) translateY(-10px);
}
.gallery_img:hover .overlay {
  opacity: 1;
}
.gallery_img:hover .overlay > a {
  transform: translateY(0);
}
.gallery_img .overlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #00000080;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.gallery_img .overlay a {
  display: inline-block;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 0.65rem 3rem;
  transform: translateY(20px);
  transition: all 0.3s ease-in-out;
}
.gallery_img .overlay a:hover {
  color: #000;
  background: #fff;
}

/* Newsletter */
.newsletter {
  padding: 4rem 0px;
}
.newsletter__content > h4 {
  color: #fff;
  font-size: 32px;
  text-transform: uppercase;
}
.newsletter__content > p {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 1rem 0px;
}
.newsletter__content > form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0px;
}
.newsletter__content > form > input {
  flex: 0.8;
  color: #fff;
  font-size: 16px;
  border: 1px solid #fff;
  outline: none;
  background: #ffffff10;
  padding: 1rem;
}
.newsletter__content > form > button {
  flex: 0.2;
  font-size: 16px;
  cursor: pointer;
  background: #fff;
  border: 1px solid #fff;
  padding: 1rem;
}

/* Blogs */
.blogsWrapper {
  padding: 4rem 0px;
}
.blog {
  margin: 1.5rem 0px;
}
.blog .imgFluid {
  transition: all 0.3s ease-in-out;
}
.blog:hover .imgFluid {
  transform: scale(1.02) translateY(-10px);
  box-shadow: 0px 0px 20px 1px #ffffff10;
}
.blog__content {
  color: #fff;
}
.blog__content > span {
  display: inline-block;
  color: #ffffff90;
  padding: 0.75rem 0px 0.5rem;
}
.blog__contentTitle {
  display: block;
  color: #fff;
  font-size: 32px;
  line-height: 1;
  font-weight: bold;
}
.blog__contentTitle:hover {
  text-decoration: underline;
}
.blog__content > p {
  color: #ffffff90;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 32px;
  margin: 1rem 0px;
}
.blog__content a:not(.themeBtn, .blog__contentTitle) {
  display: block;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase;
}

/* Pagination */
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.pagination a {
  position: relative;
  display: inline-block;
  color: #ffffff90;
  border: 1px solid transparent;
  padding: 0.75rem 1rem;
  transition: all 0.3s ease-in-out;
}
.pagination a:hover {
  color: #fff;
  border: 1px solid #fff;
  transform: translateY(-2px);
}

/* Tabs */
.tabs {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 0px;
  border-bottom: 1px solid #fff;
}
.tabs > li {
  color: #fff;
  cursor: pointer;
  border-radius: 20px;
  padding: 0.5rem 1.5rem;
}
.tabs > li:is(:hover, .active) {
  background: linear-gradient(360deg, #c532b3, #6e50bc, #176ec6);
}

/* Search Products */
.searchProduct form {
  position: relative;
  margin: 0.75rem 0.2rem 0px;
}
.searchProduct form > input {
  width: 100%;
  color: #fff;
  font-size: 16px;
  background: transparent;
  border: 1px solid #fff;
  outline: none;
  padding: 0.75rem;
}
.searchProduct form > button {
  position: absolute;
  top: 50%;
  right: 10px;
  color: #fff;
  cursor: pointer;
  background: transparent;
  border: none;
  transform: translateY(-50%);
}

/* Filter */
.filter > form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  margin: 0.5rem auto;
}
.filter > form :is(button, select) {
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #fff;
  background: transparent;
  padding: 0.5rem;
  margin: 0.25rem;
}
.filter > form option {
  color: #000;
}

/* Contact Us */
.contact {
  padding: 6rem 0px;
}
.contact form :is(input, textarea) {
  width: 100%;
  color: #fff;
  font-size: 16px;
  background: #ffffff10;
  border-radius: 0px;
  border: 1px solid #fff;
  outline: none;
  resize: none;
  padding: 1rem;
  margin: 1rem 0px;
}
.contact form .themeBtn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  transform: scale(1.2);
}
.contact form .themeBtn:hover {
  transform: scale(1.3);
}

/* Iframe */
.iframeWrapper {
  padding: 4rem 0px;
}
.iframe {
  width: 100%;
  height: 600px;
  position: relative;
}
.iframe::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  background: linear-gradient(360deg, #c532b3, #6e50bc, #176ec6);
  border-radius: 10px;
}
.iframe iframe {
  width: 99%;
  height: 98%;
  position: absolute;
  top: 1%;
  left: 0.5%;
  border: none;
  border-radius: 10px;
}

/* Contact Links */
.contactLinks {
  padding: 3rem 0px 0rem;
}
.contactLinks_thumbnail {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  font-size: 20px;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 10px;
  opacity: 0.4;
  transition: all 0.3s ease-in-out;
  padding: 2rem;
}
.contactLinks_thumbnail > i {
  font-size: 4vw;
  margin-bottom: 1rem;
}
.contactLinks_thumbnail:hover {
  opacity: 1;
  transform: translateY(-10px);
}

/* Footer */
.footer {
  background: url("../images/footer-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 4rem;
}
.footer_content > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0px;
}
.footer_content a {
  color: #fff;
}
.footer_links a {
  display: inline-block;
  position: relative;
  padding: 0.25rem 0.15rem;
}
.footer_links a::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}
.footer_links a:hover::before {
  transform: scaleX(1);
}
.footer_content > ul:last-child {
  justify-content: space-evenly;
}
.footer .copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #000;
  padding: 1rem;
  margin-top: 1rem;
}

/* Animation */
@keyframes scale {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(10px);
  }
}



/*Sign Up Section Begin*/

.become_wholeform{
    background: transparent;
    padding: 50px 40px 0;
    border: none;
}

.become_wholeform_content {
    text-align: center;
}

.become_wholeform_content h2 {
    color: #fff;
    font-size: 55px;
    font-weight: bold;
    text-transform: capitalize;
}

.become_wholeform_content p {
    font-size: 23px;
    color: #fff;
    font-weight: 500;
}

.become_wholeform_content{
    padding-bottom: 30px;
}

.become_wholeform_content img {
    margin: 0 auto;
    padding-bottom: 10px;
}

.become_wholeform input {
    height: 62px;
    border-radius: 50px;
    border: 1px solid #cecece;
    padding-left: 60px;
    font-size: 17px;
    color: #000;
    margin-bottom: 20px;
    width: 100%;
}

.become_wholeform .form-group {
    position: relative;
}

.become_wholeform span {
    position: absolute;
    top: 20px;
    left: 35px;
    font-size: 18px;
    color: rgb(81 81 81 / 75%);
}

.become_wholeform span:after {
    content: '';
    position: absolute;
    border: 1px solid #c7c7c7;
    height: 30px;
    right: -14px;
    top: -3px;}

.btn_form{
    padding-top: 20px;
}

.btn_form input{
    background: #f7941d;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 5px;
    width: 100%;
    padding: 15px;
    cursor: pointer;
    border: none;
    transition: 0.4s ease-in-out;
}

.btn_form input:hover {
    background: #000;
    transition: 0.4s ease-in-out;
    transform: translate(0px, -10px);
}

.already_user {
    text-align: center;
    padding-top: 30px;
}

.already_user p {
    font-size: 17px;
    color: #fff;
    font-weight: 400;
}

.already_user p a {
    color: #f7941d;
    text-decoration: underline;
}

.heading_pro h2 {
    color: #444344;
    font-weight: 600;
    font-size: 36px;
    border-bottom: 1px solid #d6d6d6;
    padding-bottom: 10px;
}


.heading_pro {
    margin-bottom: 30px;
}

.center-col {
    margin: 0 auto;
}

.pd_80{
  padding: 80px ;
}

/*Sign Up Section End*/

/*Cart Section Begin*/

.head_cart_sec h2 {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

.head_cart_sec {
    padding-bottom: 20px;
}

.table_cart_sec thead tr th {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    padding: 20px 20px;
    border-bottom: 1px dashed #ccc;
    text-align: center;
}


.products_check {
    border: 1px solid #dbdbdb;
    width: 120px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.checkout_pro_con h5 {
    font-size: 22px;
    font-weight: 500;
    padding-bottom: 11px;
    color: #fff;
}

.checkout_pro_con p {
    color: #fff;
    font-size: 15px;
    font-weight: normal;
    width: 100%;
    line-height: 25px;
}

.table td .row {
    align-items: center;
}

td.text-center.counter {
    /* width: 15% !important; */
    /* padding-top: 20px; */
    /* display: unset !important; */
}

td.text-center.counter .input-group {
    border: 1px solid #ccc;
    padding: 13px 10px 16px;
    /* align-items: center; */
    width: 79%;
    margin: 0 auto;
}

.cartsec .table>tbody>tr>td.text-center span.input-group-btn>.btn {
  position: relative;
  padding: 4px 9px;
  margin-top: 10px;
  background-color: #fff;
}


.checkout_pro_con {
    padding-left: 60px;
    width: 100%;
}

.table_cart_sec tbody tr td {
    color: #fff;
    font-size: 23px;
    font-weight: 300;
    border-top: 0;
    vertical-align: middle;
    padding: 20px 20px;
    border-bottom: 1px dashed #ccc;
}

.counter input {
    border: 0;
    text-align: center;
    font-size: 21px;
    width: 50%;
    margin-top: 0;
    height: 36px;
    background: transparent;
    color: #fff;
}

.counter span.input-group-btn button {
    background: transparent;
    border: 1px solid #ccc;
    border-radius: 0;
    padding: 5px 8px;
    color: #fff;
    cursor: pointer;
}

.table_cart_sec tbody tr {
    border-bottom: 1px dashed #fff !important;
    background: transparent;
    width: 100%;
}

td.price {
    width: 120px;
}

td.total_amout {
    width: 110px;
    color: #fff !important;
}

a.delet_icon .fa {
    color: #bfbfbf;
}

.promotional_code {
    border: 1px solid #dbdbdb;
    padding: 20px 20px;
    display: inline-block;
    width: 100%;
}

.head_promotional_code {
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
}

.head_promotional_code h2 {
    color: #fff;
    font-size: 19px;
    text-transform: uppercase;
}

.code_form input {
    background: #fbfbfb;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 0;
    width: 63%;
    border: 0;
}

.code_form button {
    background: #f7941d;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border: 0;
    padding: 18px 40px;
    font-size: 17px;
    float: right;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.cart_item ul li {
    padding-bottom: 30px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

.cart_item ul li span {
    float: right;
}


.table_cart_sec {
    margin-bottom: 40px;
}

li.total {
    border-top: 1px solid #ccc;
    padding: 16px 0;
}

.cart_item a {
    background: #f7941d;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border: 0;
    padding: 14px 40px;
    font-size: 17px;
    width: 100%;
    display: inline-block;
    text-align: center;
}

.code_form a:hover {
    background: #000;
}

.back_btn {
    padding-top: 30px;
}

.back_btn a {
    background: #f7941d;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border: 0;
    padding: 14px 40px;
    font-size: 17px;
    width: 100%;
    display: inline-block;
    text-align: center;
}

.back_btn a:hover {
    background: #000;
}

.table_cart_sec tbody tr td a {
    color: #fff;
}

.table_cart_sec thead tr th:nth-child(1) {
    text-align: left;
}
/*Cart Section End*/


/* Check Out Section Begin */

.checkout-sec {
  padding: 80px 0;
}

.form-tab {
  display: inline-block;
  margin-top: 30px;
  width: 100%;
}

.form-tab label {
  font-weight: 300;
  font-size: 16px;
  color: #fff;
  padding-top: 10px;
  font-family: "Roboto", sans-serif;
}

.form-tab input {
  padding: 5px;
  margin-bottom: 20px;
  height: 55px;
  border-radius: 0;
  width: 100%;
  border: 1px solid #ccc;
  background: transparent;
  color: #fff;
  padding: 10px 10px;
  font-size: 16px;
}

.form-tab select {
  height: 55px !important;
  border-radius: 0 !important;
  font-size: 14px;
  -webkit-appearance: none;
  background:  url(../images/img8.png) no-repeat;
  background-position: 98%;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 20px;
  color: #fff;
  padding: 10px 20px;
}

.checkoutBox {
  background: #f7941d;
  padding: 20px 20px;
  border-radius: 0;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.18);
}

.checkoutHead {
  padding: 5px 0px 10px;
  border-bottom: 1px solid #e0e0e0;
}

.checkoutSec h5 {
  margin: 0px 0 0px;
  text-transform: uppercase;
  font-size: 22px;
  color: #985321;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.checkoutHead h3 {
  text-transform: uppercase;
  font-size: 26px;
  color: #fff;
  font-weight: 300;
  line-height: normal;
  margin: 0;
}
.checkoutBody h3 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 21px;
  color: #000;
  padding: 0px 0;
  line-height: 51px;
}
.checkoutFoot {
  border-top: 1px solid rgba(163, 163, 163, 0.44);
}

.checkoutSec li {
  color: #fff;
  font-weight: 300;
  font-size: 16px;
  border-bottom: 1px solid rgb(255 255 255);
  padding: 15px 0 15px;
  display: block;
  width: 100%;
}

.paypal-select li span {
  display: block;
  padding-bottom: 10px;
  font-size: 14px;
  color: #737373;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.checkoutBody,
.checkoutFoot {
  padding: 0 0px 10px 0;
  border: 0;
}

.checkoutBody h5 {
  padding: 30px 0 0px;
  margin: 0px 0 0px;
  text-transform: uppercase;
  font-size: 22px;
  color: #985321;
  font-weight: bold;
}

.orderBtn a.learn-more {
  margin: 20px 0 10px;
  display: inline-block;
  background: #d51819;
  color: #fff;
  padding: 15px 45px;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  position: relative;
}

.orderBtn a.learn-more:hover {
  background: #212121;
}
.checkoutFoot label {
  padding-left: 40px;
  position: relative;
  padding-bottom: 15px;
  font-size: 14px;
  color: #737373;
}

.checkoutSec .web-btn {
  text-align: center;
  padding-top: 0;
}

.checkoutSec .web-btn a {
  background-color: #191919;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  padding: 12px 30px;
  border-radius: 50px;
  display: inline-block;
  color: #fff;
}

.checkoutSec .web-btn a:hover {
  background-color: #000;
}
.paypal-select ul li span {
  margin-left: 0px;
  color: #878685;
  font-weight: 400;
}
.checkoutFoot form span {
  display: inline-block;
  width: 140px;
}

.checkoutFoot form span img {
  float: right;
}

.paypal-select [type="radio"]:checked,
.paypal-select [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
.paypal-select [type="radio"]:checked + label,
.paypal-select [type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  padding-bottom: 0;
}
.paypal-select [type="radio"]:checked + label:before,
.paypal-select [type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 2px;
  background: #fff;
}
.paypal-select [type="radio"]:checked + label:after,
.paypal-select [type="radio"]:not(:checked) + label:after {
  content: "";
  width: 10px;
  height: 10px;
  background: #f7941d;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 2px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.paypal-select [type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.paypal-select [type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.paypal-select {
  padding-top: 10px;
}

.paypal-select label img {
  display: inline-block;
  padding-left: 6px;
}

.paypal-select li {
  border: 0;
  padding-bottom: 10px;
  padding-top: 5px;
  padding-right: 6px;
  width: auto;
  display: inline-block;
}
.checkout-heading h3 {
  margin-bottom: 8px;
  color: #fff;
  font-size: 40px;
  font-weight: 300;
}
.vsa-crd img {
  display: inline-block;
  margin: 0 5px;
  padding-bottom: 10px;
}
.vsa-crd {
  text-align: center;
  padding-top: 20px;
}
.chk-one {
  border-bottom-right-radius: 6px;
}

.checkoutSec li:nth-last-child(1) {
  border: 0;
}
/* Check Out Section End */

/* Product Detail Section Begin */

.productdetail_sec {
  padding: 70px 0 0 0;
}

.productdetail_divimg {
  background-color: #fff;
  text-align: center;
  padding: 10% 0;
  border: 1px solid #cfcfcf;
  border-radius: 4px;
}
.productdetail_divimg a.productdetail_img {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

.productdetail_diver {
  padding-top: 30px;
}
.productdetail_diver h2 {
  margin: 0 0 20px 0;
  color: #fff;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 600;
  display: block;
  margin-bottom: 10px;
}

.productdetail_diver h3 {
  font-size: 17px;
  color: #f7941d;
  margin-top: 0;
  text-transform: uppercase;
  padding-bottom: 10px;
  letter-spacing: 3px;
}

.productdetail_diver h5 {
  font-size: 18px;
}

.productdetail_diver p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  padding: 10px 0 20px;
  margin: 0;
  line-height: 26px;
}
.productdetail_diver h4 {
  border-bottom: 1px solid #cfcfcf;
  margin: 0 0 20px 0;
  padding: 15px 0;
  border-top: 1px solid #cfcfcf;
  font-size: 16px;
}

.productdetail_diver h4 a {
  color: #009345;
  text-decoration: none;
}

.productdetail_diver h4 span {
  float: right;
  text-transform: uppercase;
}

.product_cartop a.btn4 {
  background-color: #e2d3c0;
  color: #fff;
  font-size: 17px;
  text-transform: uppercase;
  padding: 10px 20px;
  display: inline-block;
  text-decoration: none;
}

.product_cartop a.btn4 i {
  margin-right: 10px;
}

.quantity_div .btn-danger {
  color: #000;
  background-color: transparent;
  border-color: #cfcfcf;
  border-radius: 0;
  padding: 12px;
}
.quantity_div .btn-success {
  color: #000;
  background-color: transparent;
  border-color: #cfcfcf;
  border-radius: 0;
  padding: 12px;
}

.quantity_div .form-control {
  display: block;
  width: 100%;
  height: auto;
  padding: 12px 12px !important;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: transparent;
}

.product_cartop ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.product_cartop ul li {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.review_sec {
  padding: 80px 0 0;
}
.review_sec .tab-content {
  padding: 40px 0;
}

.review_sec .tab-content p {
  color: #fff;
  font-size: 16px;
  padding: 10px 0;
  margin: 0;
  line-height: 28px;
}

.nav-tabs > li.active > a,
.review_sec .nav-tabs > li.active > a:focus,
.review_sec .nav-tabs > li.active > a:hover {
  color: #fff;
  cursor: default;
  background-color: #bb0303;
  border-bottom-color: transparent;
}

.review_sec .nav-tabs > li {
  float: left;
  margin-bottom: -1px;
  font-size: 18px;
  color: #000;
  text-transform: capitalize;
  font-weight: 600;
}

.review_sec .nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent !important;
  border-radius: 0;
  color: #fff;
  font-weight: 500;
  padding: 14px 50px;
}

.review_sec .nav-tabs .nav-item.show .nav-link,
.review_sec .nav-tabs .nav-link.active {
  background: #f7941d;
  color: #fff;
}

.review_sec .nav-tabs > li > a:hover {
  color: #fff;
  background-color: #f7941d;
}

.recent_sec h2 {
  margin: 0 0 20px 0;
  padding: 10px 0;
  color: #000000;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 600;
  display: block;
  border-bottom: 1px solid #cfcfcf;
}

.proRating ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.proRating ul li {
  display: inline-block;
  font-size: 21px;
  margin: 0;
  padding: 0;
}

.proRating ul li a {
  text-decoration: none;
}

.proRating ul li a i {
  color: #ffd200;
}

.proRating ul li a span {
  color: #fff;
  padding-left: 20px;
  font-size: 16px;
}

.product_content h3 {
  font-size: 24px;
  margin: 20px 0;
  padding: 0;
}

.slickproduct_slider .slider-nav img {
  width: 100px;
  height: 100%;
  object-fit: cover;
  margin: 0 0px 23px auto;
}

.slickproduct_slider .slider-nav {
  text-align: center;
}

.btn-appointment-detail a {
  background: #f7941d;
  color: #fff;
  padding: 15px 40px;
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 30px;
}

.btn-appointment-detail a:hover {
  background: #000;
  color: #fff;
}

.review_sec ul {
  border: 0;
}

.proRating {
    padding-top: 30px;
}
/* Product Detail Section End */
